body {
  font-family: Arial;
  background: #f4f6f8;
  text-align: center;
}

.container {
  margin-top: 50px;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px 15px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:first-child {
  background: green;
  color: white;
}

button:last-child {
  background: red;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}